<div class="absolute w-full flex items-center justify-center text-center top-0.5">
  <% if flash.any? %>
    <% flash.each do |type, msg| %>
      <% if type == "notice" %>
          <div class="py-2 px-4 font-bold text-white bg-[green] w-[30%]">
          <%= msg %>
          </div>
        <% else %>
          <div class="py-2 px-4 font-bold text-white bg-[red] w-[30%]">
          <%= msg %>
          </div>
      <% end %>
    <% end %>
  <% end %>
</div>