<h1>You are now a broker, <%= @user.first_name %>!</h1>
<p>
  Your application has been approved by our specialists.<br>
</p>
<p>
  Enjoy and trade well!. :)<br>
</p>

<p>
  Follow this link to <%= link_to 'your dashboard', dashboard_url %>.
</p>
<p>Thanks for joining and have a great day!</p>
