<h1>Your application has been denied, <%= @user.first_name %>!</h1>
<p>
  Your application has been denied by one of our specialists. For security reasons, we cannot provide any more information. You can apply again right away but we cannot guarantee that your application will be approved.
  <br>
</p>
<p>
  Thank you for your understanding. :)<br>
</p>


<p>Haave a great day!</p>
